::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar {
    background-color: #eee;
    width: var(--width-scrollbar);
    height: var(--width-scrollbar);
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

:root {
    /* spacing */
    --spacing-super-small: 1px;
    --spacing-extra-small: 3px;
    --spacing-small: 6px;
    --spacing-small-medium: 8px;
    --spacing-medium: 10px;
    --spacing-large-medium: 13px;
    --spacing-large: 16px;

    /* radius */

    --radius-button: 4px;
    --radius-input: 4px;
    --radius-modal: 8px;

    /* dimensions */
    --width-separator-thin: 1px;
    --width-separator-medium: 2px;

    --width-sidepanel: 420px;
    --width-scrollbar: 7px;

    /* font size */
    --font-size-extra-small: 10px;
    --font-size-small: 11px;
    --font-size-small-medium: 12px;
    --font-size-medium: 13px;
    --font-size-large-medium: 15px;
    --font-size-large: 18px;
    --font-size-extra-large: 24px;

    /* font weight */
    --font-weight-light: 400;
    --font-weight-medium: 400;
    --font-weight-bold: 700;

    /* color palette */
    --color-primary: #6200ee;
    --color-accent: #03dac6;
    --color-danger: #f34236;
    --color-success: #00c853;
    --color-warning: tomato;


    /* color general */
    --color-background: #fff;
    --color-background-dark: #f5f5f5;
    --color-background-added-area: #e1c7fd;
    --color-background-removed-area: #ffbdc3;


    --color-background-accent-hint: #18cc9c55; /* fixme: remove this usage */
    /* color backdrop */

    --color-backdrop-light: rgba(255, 255, 255, .8);
    --color-backdrop-dark: rgba(0, 0, 0, .5);

    /* color input */
    --color-input-background: #dae0e7;
    --color-input-background-errored: #f1e1e3;
    --color-input-background-disabled: #e4e9ef;
    --color-input-actions: #6d798a;

    --color-button-background: #dae0e7;
    --color-button-background-disabled: #e4e9ef;

    /* color shadow */

    --color-shadow: rgba(0, 0, 0, .3);


    /* color text */
    --color-text: #243244;

    --color-text-on-primary: rgba(255, 255, 255, .9);
    --color-text-on-accent: rgba(255, 255, 255, .9);
    --color-text-on-danger: rgba(255, 255, 255, .9);
    --color-text-on-success: rgba(255, 255, 255, .9);
    --color-text-on-warning: rgba(255, 255, 255, .9);

    --color-text-light-on-primary: rgba(255, 255, 255, .5);
    --color-text-light-on-accent: rgba(255, 255, 255, .5);
    --color-text-light-on-primary: rgba(255, 255, 255, .5);
    --color-text-light-on-accent: rgba(255, 255, 255, .5);
    --color-text-light-on-danger: rgba(255, 255, 255, .5);
    --color-text-light-on-success: rgba(255, 255, 255, .5);
    --color-text-light-on-warning: rgba(255, 255, 255, .5);

    --color-text-label: #576374;
    --color-text-disabled: #b8c2cd;

    /* color separator */
    --color-separator: #b8c2cd;
}

body {
    color: var(--color-text);
    font-size: var(--font-size-medium);
}
