.set {
    margin-bottom: var(--spacing-medium);
    border-radius: var(--radius-card);
    background-color: var(--color-background-card);
    padding: var(--spacing-medium);
    overflow-y: auto;

    .set-title {
        padding: var(--spacing-small) 0;
    }

    .admin-levels-list {
        .set-admin-level {
            display: flex;
            align-items: baseline;
            padding: var(--spacing-extra-small) 0;

            .marker {
                display: block;
                margin-right: var(--spacing-small);
                border-radius: 50%;
                background-color: var(--color-success);
                width: 10px;
                height: 10px;

                &.errored {
                    background-color: var(--color-danger);
                }
            }
        }
    }
}

.sets {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .header {
        padding: var(--spacing-small) 0;
    }
}
