.added-item {
    background-color: var(--color-background-added-area);

    .header {
        display: flex;
        align-items: center;

        .title {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
        }

        .button {
            flex-shrink: 0;
        }
    }
}
