:root {
    --width-sidebar: 320px;
}

.home {
    display: flex;
    background-color: var(--color-background);
    height: var(--height-content);

    .sidebar {
        flex-basis: var(--width-sidebar);
        border-right: var(--width-separator-thin) solid var(--color-separator);
        padding: 0 var(--spacing-medium);

        .file-import-container {
            margin: var(--spacing-medium) 0;
        }
    }

    .main-content {
        display: flex;
        flex-basis: calc(100% - var(--width-sidebar));
        flex-direction: column;
        margin: 0 var(--spacing-medium);
        overflow-y: auto;

        .header {
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .tabs {
                flex-grow: 1;
            }

            .download-link {
                display: inline-block;
                flex-shrink: 0;
                margin: var(--spacing-small) 0;
                margin-left: var(--spacing-small);
                border-radius: var(--radius-button);
                background-color: var(--color-primary);
                padding: var(--spacing-small) var(--spacing-medium);
                text-decoration: none;
                color: var(--color-text-on-primary);
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;

            .map {
                flex-shrink: 0;
                height: 40vh;

                &.full-map {
                    height: 100%;
                }
            }

            .link-listing {
                flex-grow: 1;
                border: var(--width-separator-thin) solid var(--color-separator);
                overflow-y: auto;
            }
        }
    }
}
